.header {
  width: 100%;
  min-height: 110px;
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 0 1rem; }
  .header .navbar {
    width: 100%;
    margin: 0 auto; }
    .header .navbar .ctn .ctn-itemsSocial {
      justify-content: space-between; }
      .header .navbar .ctn .ctn-itemsSocial .items {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 70%; }
        .header .navbar .ctn .ctn-itemsSocial .items .nav-item {
          font-size: 14px;
          margin: 0 .6rem;
          text-transform: capitalize;
          flex: 1 1 100px;
          text-align: center;
          position: relative; }
          .header .navbar .ctn .ctn-itemsSocial .items .nav-item a {
            font-weight: 600; }
            .header .navbar .ctn .ctn-itemsSocial .items .nav-item a::before {
              content: '';
              position: absolute;
              top: 100%;
              left: 0;
              width: 0%;
              height: 4px;
              background: linear-gradient(287deg, #ffaf00 27%, #ff7100 87%);
              transition: .3s all; }
          .header .navbar .ctn .ctn-itemsSocial .items .nav-item:hover > a::before {
            width: 105%; }
          .header .navbar .ctn .ctn-itemsSocial .items .nav-item .subNiv, .header .navbar .ctn .ctn-itemsSocial .items .nav-item .subNiv li .subNiv2 {
            display: none;
            position: absolute;
            top: 115%;
            left: 5px;
            z-index: 1;
            background-color: #dfefd8;
            padding: .3rem;
            width: 130px;
            border-radius: 10px;
            filter: drop-shadow(0px 0px 10px #0000006e); }
            .header .navbar .ctn .ctn-itemsSocial .items .nav-item .subNiv li, .header .navbar .ctn .ctn-itemsSocial .items .nav-item .subNiv li .subNiv2 li {
              color: #00794d;
              cursor: pointer;
              padding: .5rem;
              font-family: "Barlow", sans-serif;
              font-weight: 500;
              position: relative; }
              .header .navbar .ctn .ctn-itemsSocial .items .nav-item .subNiv li .subNiv2 {
                top: 10%;
                left: 100%; }
                .header .navbar .ctn .ctn-itemsSocial .items .nav-item .subNiv li .subNiv2 li:hover {
                  background-color: #dce6d0;
                  color: #21435b; }
              .header .navbar .ctn .ctn-itemsSocial .items .nav-item .subNiv li:hover {
                background-color: #dce6d0;
                color: #21435b; }
              .header .navbar .ctn .ctn-itemsSocial .items .nav-item .subNiv li:hover > .subNiv2 {
                display: block; }
          .header .navbar .ctn .ctn-itemsSocial .items .nav-item .whitSub {
            position: relative; }
            .header .navbar .ctn .ctn-itemsSocial .items .nav-item .whitSub::before {
              content: '';
              background: #254a65;
              position: absolute;
              top: 45%;
              left: 95%;
              width: 6px;
              height: 6px;
              padding: .1rem;
              clip-path: polygon(0 0, 60% 50%, 0 100%, 0 85%, 40% 50%, 0 15%); }
          .header .navbar .ctn .ctn-itemsSocial .items .nav-item:hover > .subNiv, .header .navbar .ctn .ctn-itemsSocial .items .nav-item .subNiv li .nav-item:hover > .subNiv2 {
            display: block; }
          .header .navbar .ctn .ctn-itemsSocial .items .nav-item.contain-sub {
            position: relative; }
            .header .navbar .ctn .ctn-itemsSocial .items .nav-item.contain-sub::before {
              content: '';
              background: #254a65;
              position: absolute;
              top: 40%;
              left: 100%;
              width: 6px;
              height: 6px;
              padding: .1rem;
              clip-path: polygon(50% 70%, 100% 30%, 100% 60%, 55% 100%, 45% 100%, 0 60%, 0 30%); }
      .header .navbar .ctn .ctn-itemsSocial .ul-icons-social {
        list-style-type: none;
        padding: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 0px;
        width: 25%; }
        .header .navbar .ctn .ctn-itemsSocial .ul-icons-social .icons-navbar {
          position: relative; }
          .header .navbar .ctn .ctn-itemsSocial .ul-icons-social .icons-navbar .search {
            background: #e6683c;
            height: 35px;
            border-radius: 35px;
            padding: 0 10px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            margin-right: 8px; }
            .header .navbar .ctn .ctn-itemsSocial .ul-icons-social .icons-navbar .search input {
              width: 0;
              border: none;
              outline: none;
              padding: 0;
              background: none;
              font-size: 1.1rem;
              transition: 0.5s ease;
              line-height: 35px;
              color: #ffffff; }
            .header .navbar .ctn .ctn-itemsSocial .ul-icons-social .icons-navbar .search:hover > input {
              width: 200px;
              padding: 0 10px; }
            .header .navbar .ctn .ctn-itemsSocial .ul-icons-social .icons-navbar .search:hover > .icon {
              width: 35px;
              padding: 0 10px;
              background: #ffffff;
              color: black;
              outline: 1px solid #e6683c; }
            .header .navbar .ctn .ctn-itemsSocial .ul-icons-social .icons-navbar .search .icon {
              color: #ffffff;
              width: 35px;
              font-size: 1.2rem;
              height: 35px;
              border-radius: 50%;
              background: #e6683c;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: 0.4s;
              cursor: pointer;
              text-decoration: none;
              position: absolute;
              top: 0;
              left: unset;
              right: 0; }
              .header .navbar .ctn .ctn-itemsSocial .ul-icons-social .icons-navbar .search .icon i {
                font-size: 12px; }
          .header .navbar .ctn .ctn-itemsSocial .ul-icons-social .icons-navbar.icons-navbar:nth-child(1) {
            margin-right: .2rem; }
          .header .navbar .ctn .ctn-itemsSocial .ul-icons-social .icons-navbar.icons-navbar:nth-child(2) {
            background: #3b5998;
            margin: 0 0.4rem;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center; }
            .header .navbar .ctn .ctn-itemsSocial .ul-icons-social .icons-navbar.icons-navbar:nth-child(2) a {
              display: flex;
              justify-content: center;
              align-items: center; }
              .header .navbar .ctn .ctn-itemsSocial .ul-icons-social .icons-navbar.icons-navbar:nth-child(2) a i {
                color: #ffffff; }
          .header .navbar .ctn .ctn-itemsSocial .ul-icons-social .icons-navbar.icons-navbar:nth-child(3) {
            background: #00acee;
            margin: 0 0.4rem;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center; }
            .header .navbar .ctn .ctn-itemsSocial .ul-icons-social .icons-navbar.icons-navbar:nth-child(3) a {
              display: flex;
              justify-content: center;
              align-items: center; }
              .header .navbar .ctn .ctn-itemsSocial .ul-icons-social .icons-navbar.icons-navbar:nth-child(3) a i {
                color: #ffffff; }
          .header .navbar .ctn .ctn-itemsSocial .ul-icons-social .icons-navbar.icons-navbar:nth-child(4) {
            background: linear-gradient(80deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
            margin: 0 0.4rem;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center; }
            .header .navbar .ctn .ctn-itemsSocial .ul-icons-social .icons-navbar.icons-navbar:nth-child(4) a {
              display: flex;
              justify-content: center;
              align-items: center; }
              .header .navbar .ctn .ctn-itemsSocial .ul-icons-social .icons-navbar.icons-navbar:nth-child(4) a i {
                color: #ffffff; }
          .header .navbar .ctn .ctn-itemsSocial .ul-icons-social .icons-navbar.icons-navbar:nth-child(5) {
            background: #c4302b;
            margin: 0 0.4rem;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center; }
            .header .navbar .ctn .ctn-itemsSocial .ul-icons-social .icons-navbar.icons-navbar:nth-child(5) a {
              display: flex;
              justify-content: center;
              align-items: center; }
              .header .navbar .ctn .ctn-itemsSocial .ul-icons-social .icons-navbar.icons-navbar:nth-child(5) a i {
                color: #ffffff; }

.section_carousel {
  width: 100%;
  margin: 0; }
  .section_carousel .content-banner .banner-contain {
    height: 62vh; }
    .section_carousel .content-banner .banner-contain img {
      width: 100%;
      height: 100%; }
      .section_carousel .content-banner .banner-contain img:active {
        cursor: grab; }
  .section_carousel .content-banner .slick-prev, .section_carousel .content-banner .slick-next {
    z-index: 1;
    left: 15px;
    width: 50px;
    height: 50px; }
    .section_carousel .content-banner .slick-prev::before, .section_carousel .content-banner .slick-next::before {
      font-size: 40px;
      color: #ffffff;
      filter: drop-shadow(0px 0px 10px #0000006e);
      transition: .3s all;
      font-size: 55px; }
  .section_carousel .content-banner .slick-next {
    left: unset;
    right: 15px; }

.section_tools {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 auto;
  margin-top: 3rem; }
  .section_tools .ctn-icons-nav {
    margin: 0;
    width: 90px; }
    .section_tools .ctn-icons-nav div {
      width: 55px;
      height: 55px;
      margin: 0 auto;
      display: flex;
      justify-content: center; }
      .section_tools .ctn-icons-nav div img {
        align-self: center;
        width: 100%;
        height: 100%;
        border-radius: 50%; }
    .section_tools .ctn-icons-nav h4 {
      font-size: 1rem;
      text-align: center;
      word-break: keep-all;
      color: #254a65; }
      .section_tools .ctn-icons-nav h4 a {
        text-decoration: none;
        color: #254a65; }

.section_news {
  margin-top: 4rem; }
  .section_news .article-inner-news .ctn-head-news {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem; }
    .section_news .article-inner-news .ctn-head-news h3 {
      color: #e6683c;
      text-align: center;
      font-family: "Poppins", sans-serif;
      letter-spacing: -2px;
      font-weight: bold;
      margin: 0; }
    .section_news .article-inner-news .ctn-head-news p {
      color: #254a65;
      font-family: "Barlow", sans-serif;
      text-align: center;
      font-size: 1.2rem; }
  .section_news .article-inner-news .section-news__carousel-banner .banner_news {
    width: 70%;
    margin: 0 auto; }
    .section_news .article-inner-news .section-news__carousel-banner .banner_news .slick-prev, .section_news .article-inner-news .section-news__carousel-banner .banner_news .section_carousel .content-banner .slick-next, .section_carousel .content-banner .section_news .article-inner-news .section-news__carousel-banner .banner_news .slick-next {
      display: none; }
    .section_news .article-inner-news .section-news__carousel-banner .banner_news .slick-next {
      display: none; }
    .section_news .article-inner-news .section-news__carousel-banner .banner_news .slick-dots {
      bottom: -50px; }
      .section_news .article-inner-news .section-news__carousel-banner .banner_news .slick-dots li button::before {
        content: '';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 7px;
        height: 7px;
        background: #1a1a1a;
        border-radius: 50%;
        opacity: .9; }
      .section_news .article-inner-news .section-news__carousel-banner .banner_news .slick-dots li.slick-active button::before {
        content: '';
        background-color: transparent;
        border: 2px solid black;
        box-sizing: content-box; }
    .section_news .article-inner-news .section-news__carousel-banner .banner_news .banner-news__ctn {
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center; }
      .section_news .article-inner-news .section-news__carousel-banner .banner_news .banner-news__ctn .ctn-card__image {
        width: 85%;
        height: 67%; }
        .section_news .article-inner-news .section-news__carousel-banner .banner_news .banner-news__ctn .ctn-card__image a {
          height: 100%; }
          .section_news .article-inner-news .section-news__carousel-banner .banner_news .banner-news__ctn .ctn-card__image a img {
            width: 100%;
            height: 100%;
            border-radius: 30px; }
      .section_news .article-inner-news .section-news__carousel-banner .banner_news .banner-news__ctn .ctn-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 70%;
        height: 25%;
        margin-top: 5%; }
        .section_news .article-inner-news .section-news__carousel-banner .banner_news .banner-news__ctn .ctn-info .ctn-card__title-category {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          margin: 0 auto; }
          .section_news .article-inner-news .section-news__carousel-banner .banner_news .banner-news__ctn .ctn-info .ctn-card__title-category p {
            font-family: "Barlow", sans-serif;
            color: #ffffff;
            font-size: 12px;
            align-self: flex-end;
            font-weight: bold;
            margin: 0;
            letter-spacing: -1px; }
          .section_news .article-inner-news .section-news__carousel-banner .banner_news .banner-news__ctn .ctn-info .ctn-card__title-category .dateNotice {
            color: #808080a3;
            align-self: center; }
          .section_news .article-inner-news .section-news__carousel-banner .banner_news .banner-news__ctn .ctn-info .ctn-card__title-category .category {
            background-color: #e6683c;
            letter-spacing: 0;
            padding: 0.2rem 0.7rem;
            border-radius: 10px;
            text-transform: uppercase;
            font-size: 10px; }
        .section_news .article-inner-news .section-news__carousel-banner .banner_news .banner-news__ctn .ctn-info .titleNotice {
          width: 100%;
          margin-top: 3%; }
          .section_news .article-inner-news .section-news__carousel-banner .banner_news .banner-news__ctn .ctn-info .titleNotice p {
            color: #21435b;
            word-wrap: break-word;
            hyphens: auto; }
  .section_news .article-inner-news .ctn-buttons-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 4rem;
    flex-wrap: wrap; }
    .section_news .article-inner-news .ctn-buttons-link a {
      z-index: 1;
      margin-bottom: .5rem; }
      .section_news .article-inner-news .ctn-buttons-link a i {
        margin-right: .5rem; }
    .section_news .article-inner-news .ctn-buttons-link .btn-ver-idicadores {
      text-transform: capitalize; }
    .section_news .article-inner-news .ctn-buttons-link .btn-ver-publicaciones {
      padding: .7rem 1.5rem;
      border-radius: 30px;
      background: linear-gradient(166deg, #d6e8c2 40%, #b5ddcc 84%);
      position: relative;
      transition: .2s all; }
      .section_news .article-inner-news .ctn-buttons-link .btn-ver-publicaciones .pointer {
        position: absolute;
        top: unset;
        bottom: -10px;
        right: -10px;
        font-size: 2rem;
        color: white;
        text-shadow: black 2px 0px 0px, black 1.75517px 0.95885px 0px, black 1.0806px 1.68294px 0px, black 0.14147px 1.99499px 0px, black -0.83229px 1.81859px 0px, black -1.60229px 1.19694px 0px, black -1.97998px 0.28224px 0px, black -1.87291px -0.70157px 0px, black -1.30729px -1.5136px 0px, black -0.42159px -1.95506px 0px, black 0.56732px -1.91785px 0px, black 1.41734px -1.41108px 0px, black 1.92034px -0.55883px 0px; }
      .section_news .article-inner-news .ctn-buttons-link .btn-ver-publicaciones:hover {
        transform: scale(1.03); }

.section_services {
  min-height: 100vh;
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 4rem;
  position: relative; }
  .section_services .background {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2; }
  .section_services .ctn-general-services {
    position: absolute;
    top: 0;
    left: 0; }
    .section_services .ctn-general-services .ctn-head-services {
      width: 90%;
      margin: 0 auto;
      text-align: center;
      margin-top: 3rem; }
      .section_services .ctn-general-services .ctn-head-services h3 {
        color: #ffffff; }
      .section_services .ctn-general-services .ctn-head-services p {
        color: #ffffff;
        font-weight: bold;
        width: 60%;
        margin: 0 auto; }
    .section_services .ctn-general-services .ctn-icons-services {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: center;
      margin: 0 auto;
      margin-top: 2rem; }
      .section_services .ctn-general-services .ctn-icons-services div {
        width: 180px;
        margin: 0 .5rem 1rem .5rem;
        display: flex;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
        cursor: pointer;
        transition: .2s all; }
        .section_services .ctn-general-services .ctn-icons-services div:hover > img, .section_services .ctn-general-services .ctn-icons-services div:hover > h4 {
          opacity: 1;
          transform: scale(1.03); }
        .section_services .ctn-general-services .ctn-icons-services div img {
          width: 32px;
          opacity: .6;
          transition: .2s all;
          margin-bottom: 1rem; }
        .section_services .ctn-general-services .ctn-icons-services div h4 {
          font-size: 1rem;
          text-align: center;
          word-break: keep-all;
          color: #ffffff;
          text-transform: uppercase;
          opacity: .7;
          transition: .2s all; }
    .section_services .ctn-general-services .ctn-info-services {
      background-color: #ffffff;
      width: 85%;
      margin: 0 auto;
      border-radius: 30px;
      padding: 4rem;
      filter: drop-shadow(0px 0px 40px #504b485a); }
      .section_services .ctn-general-services .ctn-info-services h3 {
        text-align: center;
        color: #00794d;
        font-weight: bold;
        letter-spacing: -1px; }
      .section_services .ctn-general-services .ctn-info-services .inner-info-services {
        display: flex;
        justify-content: center;
        justify-content: space-around;
        align-items: center;
        margin-top: 3rem; }
        .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-left-services {
          width: 45%; }
          .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-left-services .left-description-service {
            margin-bottom: 2rem; }
            .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-left-services .left-description-service p {
              padding-right: 1rem;
              hyphens: auto;
              font-family: "Barlow", sans-serif;
              color: #21435b; }
          .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-left-services .left-seguro-slogan {
            display: flex;
            align-items: center;
            width: 90%;
            margin-bottom: 1.5rem; }
            .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-left-services .left-seguro-slogan img {
              width: 40%;
              height: auto; }
            .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-left-services .left-seguro-slogan p {
              padding-left: 1rem;
              color: #21435b; }
          .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-left-services .left-links a {
            display: block; }
            .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-left-services .left-links a i {
              margin-right: .5rem; }
        .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-right-services {
          width: 45%; }
          .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-right-services .right-ctb-banner-services {
            width: 450px;
            margin: 0 auto; }
            .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-right-services .right-ctb-banner-services div img {
              width: 100%; }
            .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-right-services .right-ctb-banner-services .slick-next, .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-right-services .right-ctb-banner-services .slick-arrow {
              display: none !important; }
            .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-right-services .right-ctb-banner-services .slick-prev, .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-right-services .right-ctb-banner-services .section_carousel .content-banner .slick-next, .section_carousel .content-banner .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-right-services .right-ctb-banner-services .slick-next, .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-right-services .right-ctb-banner-services .slick-arrow {
              display: none !important; }
            .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-right-services .right-ctb-banner-services .slick-dots li button::before {
              content: '';
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 7px;
              height: 7px;
              background: #1a1a1a;
              border-radius: 50%;
              opacity: .9; }
            .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-right-services .right-ctb-banner-services .slick-dots li.slick-active button::before {
              content: '';
              background-color: transparent;
              border: 2px solid black;
              box-sizing: content-box; }
            .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-right-services .right-ctb-banner-services .item-banner-services {
              position: relative;
              width: 100%; }
              .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-right-services .right-ctb-banner-services .item-banner-services .slick-list .slick-track {
                margin: 0; }
              .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-right-services .right-ctb-banner-services .item-banner-services .right-ctn-img {
                width: 90%;
                height: auto;
                min-height: 300px;
                margin: 0 auto;
                background-image: url(../../assets/banners/ahorro.png);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                background-clip: content-box;
                clip-path: polygon(3% 5%, 9% 11%, 62% 9%, 95% 0, 100% 10%, 94% 53%, 100% 94%, 94% 100%, 43% 96%, 25% 100%, 0 91%, 4% 62%, 0 13%); }
              .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-right-services .right-ctb-banner-services .item-banner-services .right-stick {
                position: absolute;
                top: 20%;
                left: -15px;
                width: 130px;
                background-color: #ffffff;
                border-radius: 30px;
                min-height: 180px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center; }
                .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-right-services .right-ctb-banner-services .item-banner-services .right-stick i {
                  color: #00794d;
                  font-size: 2rem;
                  margin-bottom: 1rem; }
                .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-right-services .right-ctb-banner-services .item-banner-services .right-stick p {
                  width: 90%;
                  word-wrap: break-word;
                  text-align: center;
                  font-weight: bold; }

.secion-partners-blog {
  min-height: 40vh;
  width: 85%;
  margin: 0 auto; }
  .secion-partners-blog .ctn-cardImg-blogs {
    display: flex;
    justify-content: space-evenly;
    align-items: center; }
    .secion-partners-blog .ctn-cardImg-blogs div {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 25%;
      height: 200px;
      padding: 1.5rem;
      border-radius: 30px;
      -webkit-box-shadow: 0px 0px 49px -19px rgba(0, 0, 0, 0.65);
      -moz-box-shadow: 0px 0px 49px -19px rgba(0, 0, 0, 0.65);
      box-shadow: 0px 0px 49px -19px rgba(0, 0, 0, 0.65);
      background-repeat: no-repeat;
      background-clip: contain;
      background-size: cover;
      background-position: center;
      cursor: pointer; }
      .secion-partners-blog .ctn-cardImg-blogs div::before {
        content: "";
        background-color: #00000055;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        border-radius: 30px; }
      .secion-partners-blog .ctn-cardImg-blogs div img {
        width: 30px;
        z-index: 2; }
      .secion-partners-blog .ctn-cardImg-blogs div h4 {
        width: 100%;
        color: #ffffff;
        font-weight: bold;
        z-index: 2;
        word-wrap: break-word;
        hyphens: auto;
        text-transform: capitalize; }
    .secion-partners-blog .ctn-cardImg-blogs div:nth-child(1) {
      background-image: url(../../assets/imagesFooter/enlaces-footer01.png); }
    .secion-partners-blog .ctn-cardImg-blogs div:nth-child(2) {
      background-image: url(../../assets/imagesFooter/enlaces-footer02.png); }
    .secion-partners-blog .ctn-cardImg-blogs div:nth-child(3) {
      background-image: url(../../assets/imagesFooter/enlaces-footer03.png); }
  .secion-partners-blog .ctn-logos-partnerts {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem; }
    .secion-partners-blog .ctn-logos-partnerts div {
      margin: 0 1.5rem; }
      .secion-partners-blog .ctn-logos-partnerts div img {
        width: 80%; }

.footer {
  width: 90%;
  margin: 0 auto; }
  .footer .footer-section-info-general {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .footer .footer-section-info-general .ctn-logo-footer {
      width: 10%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      .footer .footer-section-info-general .ctn-logo-footer img {
        width: 100%; }
    .footer .footer-section-info-general .footer-ctn-icons-social {
      align-self: center;
      width: 30%; }
      .footer .footer-section-info-general .footer-ctn-icons-social ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center; }
        .footer .footer-section-info-general .footer-ctn-icons-social ul li {
          margin: 0 1rem; }
        .footer .footer-section-info-general .footer-ctn-icons-social ul li:nth-child(1) {
          background: #3b5998;
          margin: 0 1rem;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center; }
          .footer .footer-section-info-general .footer-ctn-icons-social ul li:nth-child(1) a {
            display: flex;
            justify-content: center;
            align-items: center; }
            .footer .footer-section-info-general .footer-ctn-icons-social ul li:nth-child(1) a i {
              color: #ffffff; }
        .footer .footer-section-info-general .footer-ctn-icons-social ul li:nth-child(2) {
          background: #00acee;
          margin: 0 1rem;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center; }
          .footer .footer-section-info-general .footer-ctn-icons-social ul li:nth-child(2) a {
            display: flex;
            justify-content: center;
            align-items: center; }
            .footer .footer-section-info-general .footer-ctn-icons-social ul li:nth-child(2) a i {
              color: #ffffff; }
        .footer .footer-section-info-general .footer-ctn-icons-social ul li:nth-child(3) {
          background: linear-gradient(80deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
          margin: 0 1rem;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center; }
          .footer .footer-section-info-general .footer-ctn-icons-social ul li:nth-child(3) a {
            display: flex;
            justify-content: center;
            align-items: center; }
            .footer .footer-section-info-general .footer-ctn-icons-social ul li:nth-child(3) a i {
              color: #ffffff; }
        .footer .footer-section-info-general .footer-ctn-icons-social ul li:nth-child(4) {
          background: #c4302b;
          margin: 0 1rem;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center; }
          .footer .footer-section-info-general .footer-ctn-icons-social ul li:nth-child(4) a {
            display: flex;
            justify-content: center;
            align-items: center; }
            .footer .footer-section-info-general .footer-ctn-icons-social ul li:nth-child(4) a i {
              color: #ffffff; }
    .footer .footer-section-info-general .ctn-contacto h6, .footer .footer-section-info-general .ctn-direccion h6 {
      color: #e6683c;
      margin-bottom: 1rem;
      font-size: .8rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0; }
    .footer .footer-section-info-general .ctn-contacto p, .footer .footer-section-info-general .ctn-direccion p {
      color: #254a65;
      line-height: 5px; }
  .footer .footer-section-links {
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem; }
    .footer .footer-section-links div {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      padding-bottom: 2rem;
      flex-flow: wrap; }
      .footer .footer-section-links div a {
        font-weight: 600; }
        .footer .footer-section-links div a i {
          color: #b7babc;
          margin-right: .4rem; }

.icon-ixed-contact {
  display: inline-block;
  position: fixed;
  top: unset;
  bottom: 20px;
  right: 40px; }
  .icon-ixed-contact i {
    color: white;
    font-size: 2rem;
    background: linear-gradient(251deg, #6ab026 25%, #93c137 93%);
    border-radius: 50%;
    padding: 1rem; }

.section_tools_mobile {
  display: none; }

@media screen and (max-width: 768px) {
  .section_tools_mobile {
    width: 98%;
    display: block;
    margin: 0 auto;
    margin-top: 4rem; }
    .section_tools_mobile .ctn-icons-nav-mobile {
      margin: 0 auto; }
      .section_tools_mobile .ctn-icons-nav-mobile div {
        width: 55px;
        height: 55px;
        margin: 0 auto;
        display: flex;
        justify-content: center; }
        .section_tools_mobile .ctn-icons-nav-mobile div img {
          align-self: center;
          width: 100%;
          height: 100%;
          border-radius: 50%; }
      .section_tools_mobile .ctn-icons-nav-mobile h4 {
        font-size: 1rem;
        text-align: center;
        word-break: keep-all;
        color: #254a65; }
        .section_tools_mobile .ctn-icons-nav-mobile h4 a {
          text-decoration: none;
          color: #254a65; } }

@media screen and (max-width: 1200px) {
  .header .navbar .ctn {
    width: 100%; }
    .header .navbar .ctn .logo {
      width: 20%; }
      .header .navbar .ctn .logo img {
        width: 90%; }
    .header .navbar .ctn .ctn-itemsSocial .items .nav-item {
      font-size: 12px; }
      .header .navbar .ctn .ctn-itemsSocial .items .nav-item .nav-link {
        padding: 0; }
      .header .navbar .ctn .ctn-itemsSocial .items .nav-item .whit-subItems::before {
        right: -8px; }
    .header .navbar .ctn .ctn-itemsSocial .ul-icons-social {
      width: 30%;
      justify-content: space-between; } }

@media screen and (max-width: 992px) {
  .header .navbar .ctn {
    width: 100%; }
    .header .navbar .ctn .logo {
      width: 40%; }
    .header .navbar .ctn .ctn-itemsSocial .items {
      width: 100%;
      flex-direction: unset; }
    .header .navbar .ctn .ctn-itemsSocial .ul-icons-social {
      width: 90%;
      margin: 0 auto;
      justify-content: space-evenly; } }

@media screen and (max-width: 768px) {
  .header .navbar .ctn {
    flex-direction: column; }
    .header .navbar .ctn .logo {
      margin: 0;
      width: 80%; }
      .header .navbar .ctn .logo img {
        width: 100%; }
    .header .navbar .ctn .ctn-itemsSocial {
      width: 100%; }
      .header .navbar .ctn .ctn-itemsSocial .items {
        display: inline-block;
        margin-top: 1rem; }
        .header .navbar .ctn .ctn-itemsSocial .items .nav-item {
          padding: .3rem 0 1rem 0; }
          .header .navbar .ctn .ctn-itemsSocial .items .nav-item a::before {
            left: 37%; }
          .header .navbar .ctn .ctn-itemsSocial .items .nav-item:hover > a::before {
            width: 25%; }
          .header .navbar .ctn .ctn-itemsSocial .items .nav-item.contain-sub::before {
            top: 28%;
            left: 56%; }
          .header .navbar .ctn .ctn-itemsSocial .items .nav-item .subNiv, .header .navbar .ctn .ctn-itemsSocial .items .nav-item .subNiv li .subNiv2 {
            top: 15%;
            left: 57.5%; }
            .header .navbar .ctn .ctn-itemsSocial .items .nav-item .subNiv li .subNiv2 {
              top: 10%;
              left: 100%; } }

@media screen and (max-width: 992px) {
  .section_carousel .content-banner .banner-contain {
    height: 50vh; } }

@media screen and (max-width: 768px) {
  .section_carousel .content-banner .banner-contain {
    height: 48vh; } }

@media screen and (max-width: 768px) {
  .section_tools {
    display: none; } }

@media screen and (max-width: 1200px) {
  .section_services .ctn-general-services .ctn-head-services h3 {
    margin-top: -35px; }
  .section_services .ctn-general-services .ctn-head-services p {
    font-size: 14px; }
  .section_services .ctn-general-services .ctn-icons-services {
    align-items: baseline; }
    .section_services .ctn-general-services .ctn-icons-services div {
      width: 120px; }
  .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-right-services {
    width: 45%; }
    .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-right-services .right-ctb-banner-services {
      width: 380px; } }

@media screen and (max-width: 992px) {
  .section_services {
    min-height: 145vh; }
    .section_services .ctn-general-services .ctn-icons-services {
      align-items: baseline; }
      .section_services .ctn-general-services .ctn-icons-services div {
        width: 100px; }
    .section_services .ctn-general-services .ctn-info-services {
      width: 95%;
      padding: 1.5rem; }
      .section_services .ctn-general-services .ctn-info-services .inner-info-services {
        flex-direction: column; }
        .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-left-services {
          border-bottom: 1px solid #e6683c;
          padding-bottom: 2rem;
          width: 90%; }
          .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-left-services .left-seguro-slogan {
            margin: 0 auto; }
            .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-left-services .left-seguro-slogan img {
              width: 30%; }
          .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-left-services .left-links {
            text-align: center; }
        .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-right-services {
          width: 90%;
          margin-top: 2rem;
          padding-bottom: 2rem; }
          .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-right-services .right-ctb-banner-services {
            width: 500px; } }

@media screen and (max-width: 768px) {
  .section_services {
    min-height: 139vh; }
    .section_services .ctn-general-services .ctn-head-services p {
      font-size: .8rem; }
    .section_services .ctn-general-services .ctn-icons-services {
      display: grid;
      grid-template-columns: repeat(3, minmax(60px, 1fr));
      margin-top: 12px; }
      .section_services .ctn-general-services .ctn-icons-services div {
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
        margin-bottom: 1.5rem;
        justify-self: center; }
        .section_services .ctn-general-services .ctn-icons-services div img {
          margin: 0; }
        .section_services .ctn-general-services .ctn-icons-services div h4 {
          font-size: .7rem; }
    .section_services .ctn-general-services .ctn-info-services .inner-info-services .ctn-inner-right-services .right-ctb-banner-services {
      width: 300px; } }

@media screen and (max-width: 480px) {
  .section_services {
    margin-top: 11rem; }
    .section_services .svgBack {
      transform: scaleY(2.5); }
    .section_services .ctn-general-services {
      margin-top: -8rem; }
      .section_services .ctn-general-services .ctn-head-services p {
        font-size: .8rem; }
    .section_services .ctn-icons-services div img {
      width: 24px; }
    .section_services .ctn-icons-services div h4 {
      font-size: .6rem; } }

@media screen and (max-width: 992px) {
  .secion-partners-blog .ctn-cardImg-blogs {
    flex-direction: column; }
    .secion-partners-blog .ctn-cardImg-blogs div {
      width: 65%;
      margin-bottom: 1rem;
      align-items: center;
      justify-content: space-evenly;
      text-align: center; }
  .secion-partners-blog .ctn-logos-partnerts {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "risk superSolidaria" "fogacoop visionamo" "redcentral atm";
    grid-row-gap: 1rem;
    justify-content: center; }
    .secion-partners-blog .ctn-logos-partnerts div {
      margin: 0 1rem; }
      .secion-partners-blog .ctn-logos-partnerts div img {
        width: 80%; }
    .secion-partners-blog .ctn-logos-partnerts div:nth-child(1) {
      grid-area: risk; }
    .secion-partners-blog .ctn-logos-partnerts div:nth-child(2) {
      grid-area: superSolidaria; }
    .secion-partners-blog .ctn-logos-partnerts div:nth-child(3) {
      grid-area: fogacoop; }
    .secion-partners-blog .ctn-logos-partnerts div:nth-child(4) {
      grid-area: visionamo; }
    .secion-partners-blog .ctn-logos-partnerts div:nth-child(5) {
      grid-area: redcentral; }
    .secion-partners-blog .ctn-logos-partnerts div:nth-child(6) {
      grid-area: atm; } }

@media screen and (max-width: 992px) {
  .footer {
    width: 95%; }
    .footer .footer-section-info-general {
      display: grid;
      grid-template-areas: "contacto logo direccion" "redes redes redes";
      grid-row-gap: 1rem;
      width: 80%;
      margin: 0 auto; }
      .footer .footer-section-info-general div {
        justify-self: center;
        width: 150px; }
      .footer .footer-section-info-general .ctn-logo-footer {
        grid-area: logo;
        width: 100%;
        height: 190px; }
      .footer .footer-section-info-general .ctn-contacto {
        grid-area: contacto;
        width: 150px; }
        .footer .footer-section-info-general .ctn-contacto p {
          line-height: normal;
          font-size: 12px; }
      .footer .footer-section-info-general .ctn-direccion {
        grid-area: direccion; }
        .footer .footer-section-info-general .ctn-direccion p {
          line-height: normal;
          font-size: 12px; }
      .footer .footer-section-info-general .footer-ctn-icons-social {
        grid-area: redes;
        width: 100%; } }

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

a {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  color: #254a65;
  text-decoration: none; }
  a:hover {
    color: #254a65; }

ul {
  list-style-type: none; }
